#container{
	width:70%;
	height:100%;
	margin:0 auto;
	border: 2px;
}

.tabela-column {
	text-align: center;
	background-color: gray;
	color: white;
	
}

.status{
	text-align: center;
}

#img{
	width: 400px;
}

#slogan {
	text-align:center;
	font-family: verdana, Arial, Sans-serif;
	font-size: 12px;
}

#barra_menu {
	background: gray;
	min-height: 20px;
	padding: 3px;
	clear: both;
} 	  	

#corpo{
	/*margin-top: 10px;
	margin-bottom: 10px;
	min-height: 300px;*/
}

#rodape{
	background: gray;
	height: 100px;
	margin-top: 10px;
	padding: 50px;
	text-align: center;
}